<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
과정이 중요할까 결과가 중요할까?
좋은 과정이 없이는 좋은 결과가 나오기 힘들다. 좋은 결과가 있다면 그 뒤에는 대부분 좋은 과정이 있다.
하지만 좋은 과정이 있다고 좋은 결과가 나오는 것은 아니다.그래서 결과를 보고 말해야한다.
과정에는 너무 많은 요소가 개입한다. 결과는객관적으로 볼 수 있ㅈ미나 과정에는 주관적인 설명이 포함되어야한다.
게다가 과정에는 운도 많이 개입한다.운을 설명할 방법은 존재하지 않는다. 과정은 100% 객관적일 수 없다.

프로의 세계에서는 더 철저하게 결과에 집중한다. 과정은 생각이고 결과는 언어이기 때문이다.
즉 소통은 결과로 하는 것ㅇ디ㅏ. 프로는 혼자서 성립할 수 없다. 거래 대상자와소통하고 협상해야 될 수 있는것이다.
결과로 소통할 줄 아는 것, 결국 이것이 프로와 아마추어를 가르는 핵심이다.

1. Inspirational quotes


• Dance in the rain

• "Better to be busy than to be busy worrying," actress Angela Lansbury is quoted to have
said. Because, author Vivian Greene explained, "Life isn't about waiting for the storm to
pass. It's about learning how to dance in the rain."
•  The sun will rise
• "This too shall pass," is an old Persian saying that may have originated with the poet
Rumi. Abraham Lincoln was a fan of this line because it is "true and appropriate in all
times and situations," Lincoln said. "How much it expresses! How consoling in the
depths of affliction!"


• "Keep calm and carry on."
"The only thing we have to fear is fear itself." "Don't worry,
be happy." These are the kinds of pithy, inspiring phrases and quotes that, historically
speaking, have the power to steady us through challenging times.
• Call them mantras, maxims or even memes -- they get repeated and recycled over the
years, sometimes over the millennia.
• Ahead of attacks on its cities during World War II, the British government issued and
displayed three posters with messages written to boost morale and mentally prepare its
civilians. One of them, "Keep calm and carry on," has grown in popularity over the years
because its message is applicable beyond its original intent.
• Similarly, a line from President Franklin Roosevelt's 1933 inaugural address, to a nation
paralyzed in the economic fear of the Great Depression, has endured its original
meaning because "The only thing we have to fear is fear itself" speaks to the
psychology of all panic.

"To be successful, put your nose down in something and get damn
good at it." There's no magic; it's practice, practice, practice.
• And it's focus. Norman Jewison said to me, "I think it all has to do with focusing yourself
on one thing."
• And push! David Gallo says, "Push yourself. Physically, mentally, you've got to push,
push, push." You've got to push through shyness and self-doubt.
• Goldie Hawn says, "I always had self-doubts. I wasn't good enough; I wasn't smart
enough. I didn't think I'd make it."
• Now it's not always easy to push yourself, and that's why they invented mothers.
• A lot of kids want to be millionaires. The first thing I say is: "OK, well you can't serve
yourself; you've got to serve others something of value. Because that's the way people
really get rich."

</body>
</html>