<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
. Travel-related quotes
• “Try new things, meet new people, and look beyond what’s right in front of you. Those
are the things to understanding this amazing world we live in.”
• “Remember that happiness is a way of travel, not a destination.”
• “The greatest reward and luxury of travel is to be able to experience everyday things as if
for the first time.”

“Travel is fatal to prejudice, bigotry and narrow-mindedness.”
• “I cannot make my days longer, so I strive to make them better.”
• “Your time is limited, so don't waste it living someone else's life. Don't be trapped by
dogma. Have the courage to follow your heart and intuition. They somehow already
know what you truly want to become. Everything else is secondary.”

you can’t connect the dots looking forward; you can only connect them looking backward. So you have to trust that the dots will somehow connect in your future. You have to trust in something — your
gut, destiny, life, karma, whatever — because believing that the dots will connect down
the road will give you the confidence to follow your heart, even when it leads you off the
well-worn path, and that will make all the difference.

Tim Minchin’s UWA commencement speech
• “One”: Be micro-ambitious. Put your head down and work with pride on whatever is in
front of you. You never know where you might end up.
• “Two”: Don't seek happiness. Keep busy and aim to make someone else happy and
you might find you get some as a side effect.
• “Three”: Understanding that you can't truly take credit for your successes nor truly
blame others for their failures will humble you and make you more compassionate.
• “Four”: Exercise. Take care of your body: you're going to need it.
• “Five”: Be hard on your opinions. Be intellectually rigorous. Identify your biases, your
prejudices, your privileges.
• “Six”: Even if you're not a teacher, be a teacher. Share your ideas. Don't take for
granted your education.
• “Seven”: Define yourself by what you love. Be demonstrative and generous in your
praise of those you admire. Send thank you cards and give standing ovations. Be pro
stuff not just anti-stuff.
• “Eight”: Respect people with less power than you.
• “Nine”: Finally, don't rush. You don't need to know what you're going to do with the rest
of your life."

</body>
</html>