<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>self - 이해</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/home/self2.css">
    <link rel="stylesheet" href="/home/home.css">
</head>
<body>
<div th:replace="fragments/nav :: header"></div>

<!-- 자기이해 검사 섹션 -->
<main>
    <section class="test-section">
        <div class="test-card">
            <h2>홀랜드 검사</h2>
            <p>미국의 진로 발달 및 선택 이론을 개발한 심리학자 홀랜드 박사가 개발한 검사</p>
            <a href="https://www.work.go.kr/consltJobCarpa/jobPsyExamNew/popup/adult/popIntsOccpSchExam.do" target="_blank">바로가기</a>
        </div>
        <div class="test-card mbti">
            <h2>MBTI</h2>
            <p>카를 융의 심리 유형론을 바탕으로 개발된 자기 보고형 성격 유형 검사</p>
            <a href="https://www.16personalitylab.com/home?lang=KR&aid=29" target="_blank">바로가기</a>
        </div>
        <div class="test-card">
            <h2>자기분석</h2>
            <p>꿈의 기록, 면접 경험정리 등을 바탕으로 자기 분석을 하고 자기소개서를 작성해보는 활동</p>
        </div>
    </section>

    <!-- 안내 문장 -->
    <section class="info-text">
        <p>검사를 통해서 스스로에 대한 이해를 하고 직무선택에 도움을 받기 위해서 컨설턴트와 연락을 해보세요!</p>
    </section>

    <!-- 컨설턴트 소개 -->
    <section class="consultant-section">
        <div class="consultant-card">
            <h3>박성호</h3>
            <p class="position">진로 컨설턴트</p>
            <ul class="consultant-info">
                <li><strong>장소:</strong> 정보전산원 103호</li>
                <li><strong>전화:</strong> 053-810-4154</li>
                <li><strong>이메일:</strong> haha6489@naver.com</li>
            </ul>
            <a class="consult-btn" href="mailto:haha6489@naver.com">이메일 보내기</a>
        </div>

        <div class="consultant-card">
            <h3>이민호</h3>
            <p class="position">진로 컨설턴트</p>
            <ul class="consultant-info">
                <li><strong>장소:</strong> 정보전산원 103호</li>
                <li><strong>전화:</strong> 053-810-4154</li>
                <li><strong>이메일:</strong> ssoma01@naver.com</li>
            </ul>
            <a class="consult-btn" href="mailto:ssoma01@naver.com">이메일 보내기</a>
        </div>

        <div class="consultant-card">
            <h3>양혜민</h3>
            <p class="position">진로 컨설턴트</p>
            <ul class="consultant-info">
                <li><strong>장소:</strong> 정보전산원 103호</li>
                <li><strong>전화:</strong> 053-810-4153</li>
                <li><strong>이메일:</strong> heym_yang@naver.com</li>
            </ul>
            <a class="consult-btn" href="mailto:heym_yang@naver.com">이메일 보내기</a>
        </div>
    </section>


</main>
</body>
</html>
