header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgba(255, 255, 255, 0.7);



    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* 로고 */
.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    background: linear-gradient(to right, #000000, #1063aa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease;
}

.logo:hover {
    background: linear-gradient(to right, #f7e3f3, #d5ebfb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}


